
.App{
  
  background-color: #282c34;  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  
  font-size: calc(10px + 2vmin);
  color: white;
}
.App > * {
    margin: 0 70px;
}
.posts article {
    border: 1px solid whitesmoke;
    border-radius: 15px;
    padding: 5px 15px;
    margin: 0 0 15px 0;
}
.posts article h2 {
    margin: 0;
}
.AddPostForm form {
    display: flex;
    flex-direction: column;
}
.AddPostForm form > * {
    margin: 5px;
    font:inherit;
}